@(from: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to The Kiosk") {
    This page is being served from : @from <br>

    The button below triggers an ajax call to localhost via HTTPS <br>
    <input id="foo" type="submit"> <br>
    3 <br>

    <script type="text/javascript">
            $("#foo").click(function() {
                $.ajax("https://localhost:9443/ajaxCall").done(function(e) {
                    window.alert("Made the ajax call all ok!")
                })
            });

    </script>
}
